<p style="font-size: 30px">Board {{board_id}}</p>
<p align="right">Logged in as {{ username }} <a href="/logout">Logout</a></p>

<p>{{msg}}</p>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form.as_p}}
        <button type="submit" value="Shape" style="color: black">Add Shape</button>
</form>

<button><a href="/home">Select Another Board</a></button>
<button><a href="/board/{{board_id}}/game">Start Game</a></button>

<table cellspacing="10">
    <tr>
        <th>Shape ID</th>
        <th>Shape Name</th>
        <th>Coordinate</th>
    </tr>
    {% for key,value in state.items %}
        {% if key == "balls" or key == "blocks" %}
            {% for shape in value %}
                <tr>
                    <td>{{shape.id}}</td>
                    <td>{{shape.type}}</td>
                    <td>{{shape.center}}</td>
                </tr>
            {% endfor %}

        {% elif key == "segments"%}
            {% for shape in value %}
                {% if shape.type == "segment"%}
                    <tr>
                        <td>{{shape.id}}</td>
                        <td>{{shape.type}}</td>
                        <td>{{shape.p1}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{shape.id}}</td>
                        <td>{{shape.type}}</td>
                        <td>{{shape.rotationCenter}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>


