<p style="font-size: 30px">Board {{board_id}}</p>
<p align="right">Logged in as {{ username }} <a href="/logout">Logout</a></p>

<p>{{msg}}</p>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form.as_p}}
        <button type="submit" value="Shape" style="color: black">Add Shape</button>
</form>

<button><a href="/home">Select Another Board</a></button>
<button><a href="/board/{{board_id}}/game">Start Game</a></button>

<table>
    <tr>
        <th>Shape ID</th>
        <th>Shape Name</th>
        <th>Coordinate</th>
    </tr>
    {% for s in state %}
        <tr>
            <td>{{s}}</td>
            {% if s == balls %}
                {% for ball in state.s %}
                    <td>asdasd</td>
                    <td>{{ball.id}}</td>
                    <td>{{ball.type}}</td>
                {% endfor %}
            {% endif %}

        </tr>
    {% endfor %}
</table>

